<div class="container-fluid bg-light vh-100 d-flex justify-content-center align-items-center">

  <div class="card shadow-lg p-3" style="width: 500px; border-radius: 12px;">
<div class="d-flex justify-content-start mb-1">
    <button class="btn btn-outline-secondary btn-sm"
            (click)="goBack()">
      ← Go Back
    </button>
  </div>

  <h4 class="text-center fw-bold mb-2">Secure Payment</h4>

    
    <div *ngIf="isLoading" class="text-center">
      Loading cart...
    </div>

    
    <div *ngIf="!isLoading">

      <div class="border rounded p-3 mb-4 bg-light">
        <h6 class="fw-bold mb-2">Order Summary</h6>

        <div *ngFor="let item of order.items" class="mb-2">
          <p class="mb-0"><strong>{{ item.name }}</strong></p>
          <small>₹{{ item.price }} × {{ item.quantity }}</small>
        </div>

        <hr>

        <h5 class="fw-bold text-success">
          Total: ₹ {{ order.totalAmount }}
        </h5>
      </div>

      
      <div class="mb-3">
        <label class="fw-bold mb-2">Payment Method</label>

        <select class="form-select" [(ngModel)]="paymentMethod">
          <option value="card">Credit / Debit Card</option>
          <option value="upi">UPI</option>
          <option value="cod">Cash on Delivery</option>
        </select>
      </div>

      
      <div *ngIf="paymentMethod === 'card'">
        <input class="form-control mb-2" placeholder="Card Number">
        <div class="d-flex gap-2">
          <input class="form-control" placeholder="MM/YY">
          <input class="form-control" placeholder="CVV">
        </div>
        <input class="form-control mt-2" placeholder="Card Holder Name">
      </div>

      
      <div *ngIf="paymentMethod === 'upi'">
        <input class="form-control" placeholder="Enter UPI ID">
      </div>

      
      <button class="btn btn-success w-100 mt-4 fw-bold"
              [disabled]="isPaying"
              (click)="pay()">
        {{ isPaying ? 'Processing...' : ('Pay ₹ ' + order.totalAmount) }}
      </button>

      <p class="text-center mt-3 text-success">{{ message }}</p>

    </div>

  </div>

</div>