<div class="container-fluid p-0">


  <nav class="navbar navbar-dark bg-dark px-3">

    <span class="navbar-brand">Shop With Us</span>

<div class="d-flex mx-auto" style="width: 50%; gap:10px;">


  <select class="form-select w-25"
          [(ngModel)]="searchType"
          (change)="search()">
    <option value="">All</option>
    <option value="Kitchen">Kitchen</option>
    <option value="Skincare">Skincare</option>
    <option value="Electronics">Electronics</option>
    <option value="Laptop">Laptop</option>
  </select>

  
  <input 
    class="form-control"
    placeholder="Search..."
    [(ngModel)]="searchText"
    (input)="search()"
  >


  <button class="btn btn-outline-light" (click)="search()">
    Search
  </button>

</div>
  
    <div class="d-flex align-items-center gap-3">

      <button class="btn btn-outline-light btn-sm" (click)="goToOrders()">
        Orders
      </button>

      <button class="btn btn-warning btn-sm" (click)="goToCart()">
        Cart ({{ cartCount }})
      </button>
<div class="position-relative"
     (mouseenter)="showDropdown = true"
     (mouseleave)="showDropdown = false">

  
  <div class="text-white px-2 py-1 rounded"
       style="cursor:pointer;">
    {{ username }} 👤
  </div>

  
  <div *ngIf="showDropdown"
       class="bg-white shadow rounded position-absolute"
       style="top:100%; right:0; min-width:150px; z-index:1000;">

    <button class="dropdown-item w-100 text-start"
            (click)="goToProfile()">
      Edit Profile
    </button>

    <button class="dropdown-item w-100 text-start text-danger"
            (click)="logout()">
      Logout
    </button>

  </div>

</div>

    </div>

  </nav>

  
  <div class="container mt-4">

    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3" *ngFor="let p of displayedProducts">

       <div class="card h-100 shadow-sm" (click)="viewProduct(p)" style="cursor:pointer;">

  <img 
    [src]="p.imageUrl || 'assets/no-image.png'"
    class="card-img-top p-2"
    style="height:180px; object-fit:contain;"
  >

  <div class="card-body text-center">
    <h6>{{ p.name }}</h6>
    <p class="text-muted">{{ p.category }}</p>
    <p class="fw-bold">₹ {{ p.price }}</p>

    <button class="btn btn-warning w-100"
            (click)="addToCart(p); $event.stopPropagation()">
      Add to Cart
    </button>
  </div>

</div>

      </div>

    </div>

    <div *ngIf="displayedProducts.length === 0" class="text-center text-muted">
      No products found
    </div>

  </div>

</div>